
/* Layout
-------------------------------------------------------------- */
body {
background:#fff;
font-size: 13px;
font-family: Tahoma, Arial, Serif;
color: #333;
margin: 0;
padding: 0;
line-height: 1.5em;
}

#page {
float:left;
width:100%;
padding: 0;
}

#container {
float:left;
width:100%;
}

#container-outer {
float:left;
width:100%;
}

#container-inner {
margin: 0 30px;
}

#content-wrapper {
width:100%;
float:left;
margin: 20px 0;
}

/* Header
-------------------------------------------------------------- */

#skip-link {
left: 50%;
margin-left: -5.25em;
margin-top: 0;
position: absolute;
width: auto !important;
z-index: 50;
}

#skip-link a, #skip-link a:link, #skip-link a:visited {
display: block;
position: absolute;
text-decoration: none;
top: -10000px;
width: 1px;
height: 1px;
}

#header-wrapper {
float:left;
width:100%;
background: #002255;
}

#header {
margin: 0 20px;
height:110px;
overflow:hidden;
}

#header .logo {
float:left;
margin-top:15px;
padding-right:10px;
}

#header .logo img {
height:80px;
}

#header .branding {
margin-top:45px;
}

#header h1, #header h2 {
display:inline;
font-weight:bold;
font-size: 36px;
font-family:Georgia, "Bitstream Vera Serif", serif;
font-style:italic;
padding-left:10px;
padding-right:5px;
}

#header span {
color:#fff;
font-size:16px;
font-family:Georgia, "Bitstream Vera Serif", serif;
font-style:italic;
}

#header h1 a, #header h2 a {
color:#fff;
}

#header h1 a:hover, #header h2 a:hover {
text-decoration:none;
}

#search-wrapper {
clear:both;
float:right;
margin: 0 40px;
}

#search-box {
margin: 25px 0 0;
}

#search-box input.form-text {
border: 1px solid #99CCFF;
width: 10em;
}

#search-box .form-item {
background:none;
border:none;
} 

/* Heading
-------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6 {
margin:0;
padding:0;
font-family:'Trebuchet MS',Trebuchet,Arial,Verdana,Sans-serif;
line-height:1.2em;
}

h1 {
font-size:2.2em;
}

h2 {
font-size:1.6em;
}

h3 {
font-size:1.4em;
}

h4 {
font-size:1.2em;
}

h5 {
font-size:1.1em;
}

h6 {
font-size:1em;
}

/* Link
-------------------------------------------------------------- */
a {
color:#005399;
text-decoration:none;
}

a:hover {
color:#CC6600;
text-decoration:underline;
}

.title a {
color:#006699;
}

.title a:hover {
color:#CC6600;
text-decoration:none;
}

#aggregator .feed-item-title a:hover {
text-decoration:none;
}

/* Navigation
-------------------------------------------------------------- */
#menu-wrapper {
float:left;
height:29px;
background: #003366;
color:white;
line-height:29px;
text-align:center;
font-family:Georgia, "Bitstream Vera Serif", serif;
font-size:14px;
width:100%;
padding:3px 0 5px;
border-top: 1px solid #2b6aa0;
}

#menu-inner {
margin: 0 15px;
}

#main-menu {
float:left;
}

#main-menu a {
color:#99CCFF;
}

#main-menu a:hover {
text-decoration:none;
color:#fff;
}

#main-menu .menu {
padding:0;
margin:0;
}

#main-menu .menu li{
float:left;
background-image:none;
padding: 0 0 0 20px;
margin:0;
}

#main-menu .menu li.first{
padding-left:15px;
}

#main-menu .menu li.last{
padding-right:15px;
}

#main-menu .menu li.active-trail a{
text-decoration:none;
color:#fff;
}

#sub-menu {
float:right;
margin: 0 30px;
padding: 5px 0;
background: black;
color:#fff;
}

#sub-menu ul {
float:right;
}

#sub-menu a {
color:#99CCFF;
}

#sub-menu a:hover {
text-decoration:none;
color:#fff;
}

#sub-menu ul {
padding:0;
margin:0;
}

#sub-menu ul li{
float:left;
background-image:none;
padding: 0 10px;
margin:0;
}

#sub-menu .menu li.first {
padding-left:20px;
}

#sub-menu .menu li.last {
padding-right:20px;
}

#sub-menu ul li.active-trail a, #sub-menu ul li a:active{
text-decoration:none;
color:#fff;
}

/* Sidebar regions
-------------------------------------------------------------- */

#sidebar-side-1 #sidebar-left {
width: 31%;
float: left;
margin-right: 3%;	
}

#sidebar-side-2 #sidebar-left {
width: 21%;
float: left;
margin-right: 2%;	
}

.sidebars-1 #main-content{
width: 66%;
float: left;
}

.sidebars-2 #main-content{
width: 54%;
float: left;
}

#sidebar-side-1 #sidebar-right {
width: 31%;
float: right;	      
}

#sidebar-side-2 #sidebar-right {
width: 21%;
float: right;	      
}

#sidebar-left h2.block-title,
#sidebar-right h2.block-title {
padding: 15px 0 0;
margin: 0 15px;
font-size: 1.3em;
border-bottom:1px solid #DBE6D6;
background: #F3F7F0;
}

#sidebar-left .content,
#sidebar-right .content {
padding: 5px 15px;
}

.sidebar .block{
background: #F3F7F0;
margin:0;
padding:0;
}

/* Node
-------------------------------------------------------------- */

#main-content h1.title {
margin: 0;
}

.title, .block-title {
font-family: 'Trebuchet MS',Trebuchet,Arial,Verdana,Sans-serif;
}

.node h2.title{
margin:0;
}

.breadcrumb {
padding:0;
}

.content {
padding:0;
margin:0;
}

.node .content, .comment .content {
margin: .5em 0 .5em;
}

.node .links {
padding: 0.3em;
background:#F3F7F0;
}

.node {
margin: auto auto;
margin-bottom:30px;
}

.mission {
border: 1px solid #F3F7F0;
background: #F3F7F0;
margin: 0 auto 15px;
font-size:20px;
font-style:italic;
font-family:Georgia, "Bitstream Vera Serif", serif;
line-height:1.2em;
}

.mission .block-title {
margin-top:15px;
}

.mission .region {
margin:15px;
}

.content-top{
border: 1px solid #F3F7F0;
background: #F3F7F0;
margin: 0 auto 15px;
}

.content-top .block-title {
margin-top:15px;
}

.content-top .region {
margin:15px;
}

.submitted {
color:#999999;
}

.preview .node, .preview .comment{
border: 1px solid #DBE6D6;
background: #F3F7F0;
padding: 0.8em;
}

.node-sticky {
padding: 15px;
background: #F3F7F0;
}

.node-book .links {
padding-top:5px;
}

.messages {
padding: 0.3em;
margin-bottom: 1em;
background: #F3F7F0;
border:1px solid #DBE6D6;
}

.comment {
padding: 1em;
margin-bottom: 1em;
padding-bottom: 1em;
background: #F3F7F0;
}

.comment .new {
text-align: right; /* LTR */
font-weight: normal;
float: right; /* LTR */
color: red;
margin:.5em;
}

.error {
margin-top:5px;
}

.node .user-picture, .comment .user-picture {
float: right;
margin-left: 10px;
}

.node .user-picture img, .comment .user-picture img {
width:60px;
}

.field-type-taxonomy-term-reference .field-label, .field-type-taxonomy-term-reference .field-items, .field-type-taxonomy-term-reference .field-item {
display:inline;
float:left;
font-weight:normal;
padding-right:10px;
}

/* Forums
-------------------------------------------------------------- */

#forum {
padding-bottom:10px;
}

#forum table {
width: 100%;
}

#forum td {
padding: 0.5em;
}

#forum td.forum, #forum td.posts {
background-color: #F3F7F0;
}

#forum td.topics, #forum td.last-reply {
background-color: #F3F7F0;
}

#forum td.container {
background-color: #F3F7F0;
}

#forum ul.links a {
background-repeat: no-repeat;
padding-left: 20px;
padding-bottom: 5px;
}

#forum ul.links li.forum a {
background-image:url(images/post.gif);
}

#forum ul.links li.login a {
background-image:url(images/lock.gif);
}

#forum td.statistics, #forum td.settings, #forum td.pager {
height: 1em;
}

#forum td .links {
padding-top: 0.7em;
}

#forum .links {
padding-bottom: 0.7em;
}

.block-forum h3 {
margin-bottom: .5em;
}

dl dd {
margin: 0 0 .5em 1em;
}

.forum-topic-navigation {
border-bottom:1px solid #DBE6D6;
border-top:1px solid #DBE6D6;
background: #F3F7F0;
margin-bottom:15px;
}

tr.even, tr.odd {
background-color:#F3F7F0;
border:none;
border-bottom:1px solid #DBE6D6;
padding:0.1em 0.6em;
}

tbody {
border:none;
border-top:1px solid #DBE6D6;
}

/* Tracker + Profile
-------------------------------------------------------------- */

#tracker table {
width: 100%;
}

#tracker .item-list {
padding-top:15px;
}

#tracker td {
padding: 0.5em;
}

.profile {
clear: both;
padding: .8em;
margin: 1em 0em;
background-color: #F3F7F0;;
}

.profile .user-member {
padding-top:10px;
}

.profile h3 {
margin-bottom:10px;
}

/* Poll
-------------------------------------------------------------- */

.poll .bar {
background: #fff url(images/bg-bar-white.png) repeat-x 0 0;
border: solid #F3F7F0;
border-width: 1px 1px 1px;
}

.poll .bar .foreground {
background: #71a7cc url(images/bg-bar.png) repeat-x 0 100%;
}

/* Lists + Links + Pager
-------------------------------------------------------------- */

ul, .block ul, ol {
margin: 0.5em 0 1em;
padding: 0 0 0 1.5em;
}

ul, ul li.leaf {
list-style-image: url(images/menu-leaf.gif);
}

ol {
  list-style-image: none;
}

ul.menu, .item-list ul {
margin: 0.35em 0 0 -0.5em;
}

ol li, ul li, ul.menu li, .item-list ul li, li.leaf {
margin: 0.15em 0 0.15em .5em;
padding-bottom: .1em;
}

ul li.expanded {
list-style-image: url(images/menu-expanded.gif);
}

ul li.collapsed {
list-style-image: url(images/menu-collapsed.gif); /* LTR */
}

ul li.leaf a, ul li.expanded a, ul li.collapsed a {
display: block;
}

ul.inline li {
background: none;
margin: 0;
padding: 0 1em 0 0;
}

ol.task-list {
margin-left: 0;
list-style-type: none;
list-style-image: none;
}

ol.task-list li {
padding: 0.5em 1em 0.5em 2em;
}

ol.task-list li.active {
background: transparent url(images/task-list.png) no-repeat 3px 50%;
}

ol.task-list li.done {
color: #393;
background: transparent url(../../misc/watchdog-ok.png) no-repeat 0px 50%;
}

ol.task-list li.active {
margin-right: 1em;
}

fieldset ul.clearfix li {
margin: 0;
padding: 0;
background-image: none;
}

#user-login-form {
text-align: center;
}

#user-login-form ul {
text-align: left;
}

ul.links li, ul.inline li {
background-image: none;
}

.links li {
margin: 0;
padding: 0;
}

.tabs li {
margin: 0;
padding: 0;
background-image: none;
}

li.expanded {
list-style-image:none;
list-style-type:none;
margin:0.15em 0 0.15em 0.5em;
padding:0 0 0.2em 1.5em;
}

div.links ul.links a {
background-repeat: no-repeat;
padding-left: 20px;
}

div.comment ul.links a {
background-repeat: no-repeat;
padding-left: 20px;
}

div.links ul.links li.comment_forbidden a {
padding:0;
margin:0;
}

div.links ul.links li.comment_forbidden {
padding:0;
margin:0;
}

div.comment ul.links li.comment_forbidden a {
padding:0;
margin:0;
}

div.comment ul.links li.comment_forbidden {
padding:0;
margin:0;
}

div.links ul.links li.comment_forbidden span {
background-repeat: no-repeat;
padding-left: 20px;
padding-right:20px;
}

div.comment ul.links li.comment_forbidden span {
background-repeat: no-repeat;
padding-left: 20px;
padding-right:20px;
}

div.links ul.links li.comment-add a {
background-image: url(images/commentadd.gif);
}

div.links ul.links li.comment-comments a {
background-image: url(images/comments.gif);
}

div.links ul.links li.comment-new-comments a {
background-image: url(images/comments.gif);
}

div.comment ul.links li.comment-edit a {
background-image: url(images/commentedit.gif);
}

div.comment ul.links li.comment-delete a {
background-image: url(images/commentdelete.gif);
}

div.comment ul.links li.comment-reply a {
background-image: url(images/commentadd.gif);
}

div.links ul.links li.node-readmore a {
background-image: url(images/readmore.gif);
}

div.links ul.links li.blog_usernames_blog a {
background-image: url(images/user.gif);
}

div.links ul.links li.comment_forbidden span {
background-image:url(images/lock.gif);
}

div.comment ul.links li.comment_forbidden span {
background-image:url(images/lock.gif);
}

div.links ul.links li.upload_attachments a {
background-image: url(images/photo.gif);
}

div.links ul.links li.book_printer a{
background-image:url(images/print.gif);
}

div.links ul.links li.book_add_child a{
background-image:url(images/add.gif);
}

ul.pager {
padding-bottom:10px;
}

ul.pager li.pager-current {
background-color:#CC6600;
color:#FFFFFF;
padding: 1px 4px;
}

.item-list .pager li {
padding:0px;
}

.item-list .pager li a{
padding: 1px 4px;
background-color:#005399;
color:#fff;
}

.item-list .pager li a:hover {
background-color:#CC6600;
color:#FFFFFF;
text-decoration:none;
}


/* Admin + Form item
-------------------------------------------------------------- */

table {
width:100%;
}

ul.primary {
border-bottom: 1px solid #DBE6D6;
}

ul.primary li a {
background-color:#005399;
border:1px solid #DBE6D6;
}

ul.primary li.active a {
background-color:#005399;
border:1px solid #DBE6D6;
}

ul.primary li a:hover {
background-color:#005399;
border:1px solid #DBE6D6;
}

div.admin-panel .body {
background: #F3F7F0;
}

div.admin-panel .body .admin-list {
background:none;
}

div.admin-panel h3 {
background: #F3F7F0;
padding: 5px 8px 5px;
margin: 0;
font-weight:bold;
}

div.admin {
padding-top: 0; /* fix alignment of admin panel */
}

/* keep admin columns from dropping under */
div.admin .left,
div.admin .right {
margin-left: 1%;
margin-right: 1%;
}

tr.odd td, tr.even td{
padding: 0.5em;
background: #F3F7F0;
border: 1px solid #DBE6D6;
border-left:none;
border-right:none;
}

.form-item {
background: #F8F7EF;
border: 1px solid #DEDCCB;
padding: 0.5em;
}

#search .form-item {
padding:0;
background: none;
border:none;
}

fieldset {
background: #F3F7F0;
border: 1px solid #DBE6D6;
}

tr.even, tr.odd {
background-color:#F3F7F0;
padding:0.1em 0.6em;
border-bottom: 1px solid #DBE6D6;
}

table.system-status-report th {
border-bottom: 1px solid #DBE6D6;
}

tbody {
border:none;
}

th {
background: #F8F7EF;
}

thead th {
padding-left:5px;
padding-right:5px;
border-bottom:2px solid #DEDCCB;
}

tbody th {
border-right: none;
border-left: none;
border-top: 1px solid #DBE6D6;
padding-left:5px;
padding-right:5px;
}

.admin-list, .node-type-list {
background: #F3F7F0;
padding:15px;
}

.help-items {
padding:5px;
}

.help {
background: #F3F7F0;
border: 1px solid #DBE6D6;
margin-top: 15px;
margin-bottom: 15px;
padding-left: 10px;
padding-right: 10px;
} 

ul.primary li a {
background: #F3F7F0;
}

ul.primary li a:hover {
background: #F3F7F0;
}

ul.primary li.active a {
background: #F3F7F0;
}

#blocks td.region {
background: #F3F7F0;
}

/* Misc
-------------------------------------------------------------- */
#aggregator {
margin-top: 10px;
}

.feed-description {
}

.feed-url, .feed-updated {
padding-top:10px;
}

#aggregator .feed-source {
border:none;
padding: 0.8em;
background: #F3F7F0;
margin-bottom:15px;
}

#aggregator .links {
padding: 0.3em 0.6em;
background:#F3F7F0;
margin-top:15px;
}

.book-navigation .menu {
border-top:1px solid #DBE6D6;
padding:1em 0 0 3em;
padding-bottom:1em;
}

.book-navigation .page-links {
border-bottom:1px solid #DBE6D6;
border-top:1px solid #DBE6D6;
background: #F3F7F0;
margin-bottom:15px;
}

#attachments {
margin-bottom:15px;
}

.feed-item-categories {
padding: 0.3em 0.6em;
margin-bottom:30px;
background:#F3F7F0;
}

#aggregator .feed-item-title {
font-size:1.6em;
}

#tracker {
padding-top:10px;
}

.adsense {
text-align:center;
}

blockquote {
background: url(images/bq-tl.gif) no-repeat left top;
padding-left: 30px;
margin-left: 10px;
font-style:italic;
}

blockquote p {
background: url(images/bq-br.gif) no-repeat right bottom;
}

cite {
background: url(images/bq-tl.gif) no-repeat left top;
clear: both;
display: block;
font-style: italic;
padding-left: 30px;
margin-left: 10px;
}

code, tt, pre {
background-color:#f5ede3;
font-family:"Bitstream Vera Sans Mono",Monaco,"Lucida Console",monospace;
font-size:0.9em;
line-height:1.2em;
padding:0.3em;
}


/* Bottom
-------------------------------------------------------------- */
#bottom-wrapper {
float:left;
width:100%;
background: #002255;
padding:20px 0 0;
color:#fff;
font-size:12px;
}

#bottom-wrapper a {
color:#99CCFF;
text-decoration:none;
}

#bottom-wrapper a:hover {
text-decoration:underline;
}

#bottom-inner {
margin: 0 10px;
}

#bottom {
text-align: left;
width: 100%;
position: relative;
float:left;
}

#bottom .column {
float: left;
width: 100%;
}

#bottom.in1 .column {
width: 100%;
}

#bottom.in2 .column {
width: 50%;
}

#bottom.in3 .column {
width: 33.3%;
}

#bottom.in4 .column {
width: 25%;
}

#bottom .block {
margin: 0 20px;
}

#bottom h2.block-title {
margin-top:20px;
font-size: 1.3em;
}

#bottom .region {
margin:20px 0;
}

/* Footer
-------------------------------------------------------------- */
#footer-wrapper {
margin: 10px 20px 0;
}

#footer h2.block-title {
margin-top:20px;
font-size: 1.3em;
}

#footer .region {
margin:20px 0;
}

#copyright {
text-align:center;
font-size:12px;
}

#notice {
border-top:1px solid #2b6aa0;
text-align:center;
margin: 20px 30px 5px;
padding-top:20px;
font-size:11px;
}

/* Overlay
-------------------------------------------------------------- */

.overlay #header-wrapper, .overlay #menu-wrapper, .overlay #bottom-wrapper {
display:none;
}

.overlay #container {
width:98%;
}

.theme-info ul {
list-style-image:none;
}